



body  {   
font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
font-size: 12px;
}


h1. {   
color: rgb(0,0,0);
font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
font-size: 32px;
font-weight: 600;
}

.Heading_2 {   
color: rgb(0,0,0);
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.Heading_3 {   
color: rgb(100,100,100);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}


h1._Report {   
color: rgb(0,0,0);
font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
font-size: 32px;
font-weight: 600;
}

.Heading_2_Report {   
color: rgb(0,0,0);
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.Heading_3_Report {   
color: rgb(0,0,0);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}







.Menu_Icon_Format{
	
	font-size:30px;
	cursor:pointer;	
	padding: 5px 5px 5px 5px;	
	vertical-align: center;
	color: rgb(0,0,0);
	
}






.Details_Div {
background-color: rgb(250,250,250);
}

.Details_Div_Report {
background-color: rgb(255, 255, 255);
}



.Details_Table_Report{	
	background-color: rgb(0, 0, 0);	
}



.Details_Label_Cell {
color: rgb(80,80,80);
font-weight: bold;
text-align: left;
padding: 5px 5px 5px 5px;
background-color: rgb(240,240,240);
vertical-align:top;
} 

.Details_Label_Cell_Report {
background-color: rgb(255,255,255);
color:  rgb(0,0,0);
font-weight: bold;
padding: 5px 5px 5px 5px;
text-align: left;
} 

.Details_Column_Heading {
color: rgb(80,80,80);
font-weight: bold;
text-align: left;
padding: 5px 5px 5px 5px;
background-color: rgb(240,240,240);
} 

.Details_Column_Heading_Report {
background-color: rgb(240,240,240);
color:  rgb(0,0,0);
font-weight: bold;
padding: 5px 5px 5px 5px;
text-align: left;
} 

.Details_Value_Cell{


}

.Details_Value_Cell_Report{
background-color: rgb(255,255,255);
color:  rgb(0,0,0);
padding: 5px 5px 5px 5px;
text-align: left;
}







.List_Div {
background-color: rgb(250,250,250);
}

.List_Div_Report {
background-color: rgb(255, 255, 255);
}


.List_Table {

}


.List_Table_Report {
	background-color: rgb(0,0,0);
}

.List_Div_Report {
background-color: rgb(255,255,255);
}

.List_Label_Cell {
color: rgb(80,80,80);
font-weight: bold;
text-align: left;
padding: 5px 5px 5px 5px;
background-color: rgb(240,240,240);
}

.List_Label_Cell_Report {
color: rgb(0,0,0);
font-weight: bold;
text-align: left;
padding: 5px 5px 5px 5px;
background-color: rgb(240,240,240);
}


.List_Content_Cell {
color: rgb(80,80,80);
vertical-align: text-top;
padding: 5px 5px 5px 5px;
background-color: rgb(245,245,245);
} 

.List_Content_Cell_Report {
color: rgb(0,0,0);
vertical-align: text-top;
padding: 5px 5px 5px 5px;
background-color: rgb(255,255,255);
} 

.List_Content_Cell_Green {
color: rgb(80,80,80);
background-color: rgba(160,240,110,1.0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Green_Report {
color: rgb(0,0,0);
background-color: rgba(160,240,110,1.0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}


.List_Content_Cell_Green_Stripes {
background: linear-gradient(45deg, rgba(255,255,255,1.0),  rgba(160,240,110,1.0) 100px);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Green_Stripes_Report {
background: linear-gradient(45deg, rgba(255,255,255,1.0),  rgba(160,240,110,1.0) 100px);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Yellow {
background-color: rgba(255,240,110, 1.0);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Yellow_Report {
background-color: rgba(255,240,110, 1.0);
color: rgb(0,0,0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}


.List_Content_Cell_Orange {
background-color: rgba(255, 210, 110, 1.0);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Orange_Report {
background-color: rgba(255, 210, 110, 1.0);
color: rgb(0,0,0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Red {
background-color: rgba(255, 120, 110, 1.0);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Red_Report {
background-color: rgba(255, 120, 110, 1.0);
color: rgb(255,255,255);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Blue {
background-color: rgba(110, 190, 255, 1.0);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Blue_Report {
background-color: rgba(110, 190, 255, 1.0);
color: rgb(0,0,0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Purple {
background-color: rgb(200,110,255);
color: rgb(80,80,80);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}

.List_Content_Cell_Purple_Report {
background-color: rgb(200,110,255);
color: rgb(0,0,0);
padding: 5px 5px 5px 5px;
vertical-align: text-top;
}


.List_Open_Cell {
color: rgb(80,80,80);
font-weight: bold;
vertical-align: text-top;
background-color: rgb(240,240,240);
} 

.List_Open_Cell_Report {
color: rgb(0,0,0);
font-weight: bold;
vertical-align: text-top;
background-color: rgb(255,255,255);
} 

.List_SQL_Script_Cell {
color: rgb(80,80,80);
font-style: italic;
background-color: rgb(255,255,200);
} 







.Report_Basic_Cell { /*temp guess*/

background-color: rgb(255,255,255);
color: rgb(0,0,0);
padding: 10px 0px 10px 10px;
text-align:left;
vertical-align:top;

} 


.Report_Sub_Heading_Cell {/*temp guess*/
background-color: rgb(255,255,255);
color: rgb(0,0,0);
font-style: italic;
padding: 10px 10px 10px 0px;
text-align:right;
vertical-align:top;
} 










.Input_Medium_Text_Format {
  width: 100%;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;  
} 

.Input_Text_Format {
  width: 100%;
} 

.Input_Combobox_Format {
  width: 100%;
} 

.Input_Number_Format {
  width: 100%;
} 

.Input_Date_Format {
  width: 100%;
} 



.Submission_Button_Format {
  width: 100%;
} 


.New_Button_Format{
  width: 100%;
} 





/* MENU */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(49, 88, 147);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(255,255,200);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}














